<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Automated Pharmacist</title>
      
</head>
<body>
    <form method="post", action="/result">
        <fieldset>      
            <legend>Please select your symptoms:</legend>      
            <input type="checkbox" name="symptom" value="headache">headache<br>
            <input type="checkbox" name="symptom" value="sneezing">sneezing<br>
            <input type="checkbox" name="symptom" value="runny_nose">runny_nose<br>
            <input type="checkbox" name="symptom" value="chills">chills<br>
            <input type="checkbox" name="symptom" value="sore_throat">sore_throat<br>
            <input type="checkbox" name="symptom" value="fever">fever <br>
            <input type="checkbox" name="symptom" value="red_eyes">red_eyes<br>
            <input type="checkbox" name="symptom" value="watery_eyes">watery_eyes<br>
            <input type="checkbox" name="symptom" value="nausea">nausea<br>
            <input type="checkbox" name="symptom" value="motion_sickness">motion_sickness<br>
            <input type="checkbox" name="symptom" value="sleeplessness">sleeplessness<br>
            <input type="checkbox" name="symptom" value="nausea">nausea<br>
            <input type="checkbox" name="symptom" value="diarrhea">diarrhea<br>
            <input type="checkbox" name="symptom" value="itchy_skin">itchy_skin<br>
            <input type="checkbox" name="symptom" value="red_skin">red_skin<br>
            <input type="checkbox" name="symptom" value="infected_skin">infected_skin<br>
   
            <br>           
        </fieldset> 

        <fieldset>
            <legend>Please select existing medication and any other applicable constraints:</legend>      
            <input type="checkbox" name="factor" value="alcohol">alcohol<br>
            <input type="checkbox" name="factor" value="tb_medication">tb_medication<br>
            <input type="checkbox" name="factor" value="pregnancy">pregnancy<br>
            <input type="checkbox" name="factor" value="high_bp_medication">high_bp_medication<br>
            <input type="checkbox" name="factor" value="blood_thinners">blood_thinners<br>
            <input type="checkbox" name="factor" value="ace_inhibitors">ace_inhibitors<br>
            <input type="checkbox" name="factor" value="lithium">lithium<br>
            <input type="checkbox" name="factor" value="tylenol">tylenol<br>
            <input type="checkbox" name="factor" value="advil">advil<br>
            <input type="checkbox" name="factor" value="aspirin">aspirin<br>
            <input type="checkbox" name="factor" value="motrin">motrin<br>
            <input type="checkbox" name="factor" value="nasalcrom">nasalcrom<br>
            <input type="checkbox" name="factor" value="flonase">flonase<br>
            <input type="checkbox" name="factor" value="hydrocortisone">hydrocortisone<br>
            <input type="checkbox" name="factor" value="zaditor">zaditor<br>
            <input type="checkbox" name="factor" value="benadryl">benadryl<br>
            <input type="checkbox" name="factor" value="dramamine">dramamine<br>
            <input type="checkbox" name="factor" value="bonine">bonine<br>
        </fieldset>
        <input type="submit" value="Submit now" /> 
    </form>

</body>
</html>
